<!-- ============================================ -->
<!--                   Contact                    -->
<!-- ============================================ -->

<section id="contact">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Contact Us</span>
            <h2 class="cs-title">Make An Appointment</h2>
        </div>
        <!--Form-->
        <form class="cs-form" id="cs-form-983" name="Contact Form" method="post">
            <label class="cs-label">
                Name
                <input class="cs-input" required type="text" id="name-587-983" name="name" placeholder="Name">
            </label>
            <label class="cs-label">
                Phone
                <input class="cs-input" required type="text" id="phone-587-983" name="phone" placeholder="Phone">
            </label>
            <label class="cs-label">
                Email
                <input class="cs-input" required type="text" id="email-587-983" name="email" placeholder="Email">
            </label>
            <label class="cs-label">
                How did you hear about us?
                <input class="cs-input" required type="text" id="hear-587-983" name="heat" placeholder="Google">
            </label>
            <label class="cs-label cs-message">
                Message
                <textarea class="cs-input cs-textarea" required name="Message" id="message-587-983" placeholder="Write message..."></textarea>
            </label>
            <div class="cs-wrapper">
                <!-- <button class="cs-button-solid cs-submit" type="submit">Send Message</button> -->
                <div class="cs-button-10" aria-label="read more about us">
                  Send Message
                  <svg class="cs-icon" aria-hidden="true" width="30" height="24" viewBox="0 0 30 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M14.83 11.29L10.59 7.05001C10.497 6.95628 10.3864 6.88189 10.2646 6.83112C10.1427 6.78035 10.012 6.75421 9.88 6.75421C9.74799 6.75421 9.61729 6.78035 9.49543 6.83112C9.37357 6.88189 9.26297 6.95628 9.17 7.05001C8.98375 7.23737 8.87921 7.49082 8.87921 7.75501C8.87921 8.0192 8.98375 8.27265 9.17 8.46001L12.71 12L9.17 15.54C8.98375 15.7274 8.87921 15.9808 8.87921 16.245C8.87921 16.5092 8.98375 16.7626 9.17 16.95C9.26344 17.0427 9.37426 17.116 9.4961 17.1658C9.61794 17.2155 9.7484 17.2408 9.88 17.24C10.0116 17.2408 10.1421 17.2155 10.2639 17.1658C10.3857 17.116 10.4966 17.0427 10.59 16.95L14.83 12.71C14.9237 12.617 14.9981 12.5064 15.0489 12.3846C15.0997 12.2627 15.1258 12.132 15.1258 12C15.1258 11.868 15.0997 11.7373 15.0489 11.6154C14.9981 11.4936 14.9237 11.383 14.83 11.29Z" fill="white"/>
                      <path d="M20.83 11.29L16.59 7.05001C16.497 6.95628 16.3864 6.88189 16.2646 6.83112C16.1427 6.78035 16.012 6.75421 15.88 6.75421C15.748 6.75421 15.6173 6.78035 15.4954 6.83112C15.3736 6.88189 15.263 6.95628 15.17 7.05001C14.9838 7.23737 14.8792 7.49082 14.8792 7.75501C14.8792 8.0192 14.9838 8.27265 15.17 8.46001L18.71 12L15.17 15.54C14.9838 15.7274 14.8792 15.9808 14.8792 16.245C14.8792 16.5092 14.9838 16.7626 15.17 16.95C15.2634 17.0427 15.3743 17.116 15.4961 17.1658C15.6179 17.2155 15.7484 17.2408 15.88 17.24C16.0116 17.2408 16.1421 17.2155 16.2639 17.1658C16.3857 17.116 16.4966 17.0427 16.59 16.95L20.83 12.71C20.9237 12.617 20.9981 12.5064 21.0489 12.3846C21.0997 12.2627 21.1258 12.132 21.1258 12C21.1258 11.868 21.0997 11.7373 21.0489 11.6154C20.9981 11.4936 20.9237 11.383 20.83 11.29Z" fill="white"/>
                  </svg>
                </div>
                                  
            </div>
        </form>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="/assets/contact.jpg">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="/assets/contact.jpg">
        <img loading="lazy" decoding="async" src="/assets/contact.jpg" alt="hair salon" width="2500" height="770">
    </picture>
</section>
                                
<style>
    /*-- -------------------------- -->
<---          Contact           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #contact {
    padding: var(--sectionPadding);
    position: relative;
  }
  #contact .cs-container {
    width: 100%;
    /* changes to 1064px at tablet */
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
  }
  #contact .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #contact .cs-title {
    color: var(--bodyTextColorWhite);
  }
  #contact .cs-form {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 0.75rem;
  }
  #contact .cs-label {
    font-size: 1rem;
    line-height: 1.5em;
    width: 100%;
    color: #fff;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 0.5rem;
    grid-column: span 12;
  }
  #contact .cs-input {
    font-family: inherit;
    font-size: 1rem;
    width: 100%;
    height: 3.5rem;
    padding-left: 1.5rem;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    color: #fff;
    background-color: #484848;
    border: none;
  }
  #contact .cs-input::placeholder {
    padding-top: 1rem;
    color: #fff;
    opacity: 0.5;
  }
  #contact .cs-textarea {
    height: 7.5rem;
    margin-bottom: 2rem;
    padding-top: 1rem;
  }
  #contact .cs-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    grid-column: span 12;
  }
  #contact .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #fff;
    min-width: 9.375rem;
    padding: 0 2rem;
    background-color: var(--primary);
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
  }
  #contact .cs-button-solid:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #contact .cs-button-solid:hover:before {
    width: 100%;
  }
  #contact .cs-submit {
    border: none;
  }
  #contact .cs-submit:hover {
    cursor: pointer;
  }
  #contact .cs-background {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #contact .cs-background:before {
    /* background color overlay */
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background: #1a1a1a;
    opacity: 0.9;
    top: 0;
    left: 0;
    z-index: 1;
  }
  #contact .cs-background img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* Makes img tag act as a background image */
    object-fit: cover;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #contact .cs-container {
    max-width: 66.5rem;
  }
  #contact .cs-label {
    grid-column: span 6;
  }
  #contact .cs-message {
    grid-column: span 12;
  }
  #contact .cs-wrapper {
    grid-column: span 12;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
                                
</style>