

<!-- ============================================ -->
<!--                     CTA                      -->
<!-- ============================================ -->

<section id="cta-1132">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Get fit</span>
            <h2 class="cs-title">Start your journey towards better health</h2>
            <!-- <a href="#contact" class="cs-button-solid">Join today</a> -->
            <a href="#services" class="cs-button-10" aria-label="read more about us">
                Join Today
                <svg class="cs-icon" aria-hidden="true" width="30" height="24" viewBox="0 0 30 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M14.83 11.29L10.59 7.05001C10.497 6.95628 10.3864 6.88189 10.2646 6.83112C10.1427 6.78035 10.012 6.75421 9.88 6.75421C9.74799 6.75421 9.61729 6.78035 9.49543 6.83112C9.37357 6.88189 9.26297 6.95628 9.17 7.05001C8.98375 7.23737 8.87921 7.49082 8.87921 7.75501C8.87921 8.0192 8.98375 8.27265 9.17 8.46001L12.71 12L9.17 15.54C8.98375 15.7274 8.87921 15.9808 8.87921 16.245C8.87921 16.5092 8.98375 16.7626 9.17 16.95C9.26344 17.0427 9.37426 17.116 9.4961 17.1658C9.61794 17.2155 9.7484 17.2408 9.88 17.24C10.0116 17.2408 10.1421 17.2155 10.2639 17.1658C10.3857 17.116 10.4966 17.0427 10.59 16.95L14.83 12.71C14.9237 12.617 14.9981 12.5064 15.0489 12.3846C15.0997 12.2627 15.1258 12.132 15.1258 12C15.1258 11.868 15.0997 11.7373 15.0489 11.6154C14.9981 11.4936 14.9237 11.383 14.83 11.29Z" fill="white"/>
                    <path d="M20.83 11.29L16.59 7.05001C16.497 6.95628 16.3864 6.88189 16.2646 6.83112C16.1427 6.78035 16.012 6.75421 15.88 6.75421C15.748 6.75421 15.6173 6.78035 15.4954 6.83112C15.3736 6.88189 15.263 6.95628 15.17 7.05001C14.9838 7.23737 14.8792 7.49082 14.8792 7.75501C14.8792 8.0192 14.9838 8.27265 15.17 8.46001L18.71 12L15.17 15.54C14.9838 15.7274 14.8792 15.9808 14.8792 16.245C14.8792 16.5092 14.9838 16.7626 15.17 16.95C15.2634 17.0427 15.3743 17.116 15.4961 17.1658C15.6179 17.2155 15.7484 17.2408 15.88 17.24C16.0116 17.2408 16.1421 17.2155 16.2639 17.1658C16.3857 17.116 16.4966 17.0427 16.59 16.95L20.83 12.71C20.9237 12.617 20.9981 12.5064 21.0489 12.3846C21.0997 12.2627 21.1258 12.132 21.1258 12C21.1258 11.868 21.0997 11.7373 21.0489 11.6154C20.9981 11.4936 20.9237 11.383 20.83 11.29Z" fill="white"/>
                </svg>
            </a>
        </div>
    </div>
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="/assets/cta.jpg">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="/assets/cta.jpg">
        <img loading="lazy" decoding="async" src="/assets/cta.jpg" alt="family" width="1280" height="568">
    </picture>
    <!--White splash graphic-->
    <picture class="cs-graphic cs-light">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="/assets/splash.png">
        <!--Tablet and above Image-->
        <source media="(max-width: 1023px)" srcset="/assets/splash.png">
        <!--Desktop and above Image-->
        <source media="(min-width: 1024px)" srcset="/assets/splash.png">
        <img loading="lazy" decoding="async" src="/assets/splash.png" alt="graphic" width="1920" height="108" aria-hidden="true">
    </picture>
</section>
                                

<style>
    /*-- -------------------------- -->
<---            CTA             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    .cs-topper {
        color: #000;
    }
    #cta-1132 {
        padding: var(--sectionPadding);
        /* chnages at tablet */
        padding-bottom: 20vw;
        background-color: var(--primary);
        overflow: hidden;
        position: relative;
        z-index: 1;
    }
    #cta-1132 .cs-container {
        width: 100%;
        max-width: 80rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 48px - 64px */
        gap: clamp(3rem, 6vw, 4rem);
    }
    #cta-1132 .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: center;
    }

    #cta-1132 .cs-title {
        text-transform: capitalize;
        max-width: 24ch;
        /* 28px - 40px */
        margin: 0 0 clamp(1.75rem, 3vw, 2.5rem);

        color: var(--bodyTextColorWhite);
    }
    #cta-1132 .cs-button-box {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
    }
   .cs-button-10 {
    background-color: var(--secondary);
    box-shadow: 4px 4px 0px 0px #000;
   }
   .cs-button-10:hover {
    background-color: var(--primary);
    box-shadow: 4px 4px 0px 0px #fff;
   }
    #cta-1132 .cs-background {
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
    #cta-1132 .cs-background:before {
        /* background color overlay */
        content: "";
        position: absolute;
        display: block;
        height: 100%;
        width: 100%;
        background: var(--primary);
        opacity: 0.8;
        top: 0;
        left: 0;
        z-index: 1;
    }
    #cta-1132 .cs-background img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        /* Makes img tag act as a background image */
        object-fit: cover;
    }
    #cta-1132 .cs-graphic {
        width: 100%;
        height: auto;
        display: flex;
        align-items: flex-end;
        position: absolute;
        bottom: -1px;
        left: 0;
        z-index: 10;
    }
    #cta-1132 .cs-graphic img {
        width: 100%;
        height: auto;
        display: block;
    }
    #cta-1132 .cs-dark {
        display: none;
    }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #cta-1132 {
        /* changes at desktop */
        padding-bottom: 15vw;
    }
}
/* Desktop - 1024pxpx */
@media only screen and (min-width: 64rem) {
    #cta-1132 {
        /* changes at desktop */
        padding-bottom: 10vw;
    }
}

                                
</style>